.landpage__main{
    background-color: var(--color-grey-4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container__landpage{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 65.8%;
    max-width: 61.75rem;
    gap:3rem;


}

.container__landpage div{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.landpage__logo{
    width: 8rem;
}

.landpage__title{
    margin:0;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 2.375rem;
}

.landpage__subtitle{
    color: #FFFFFF;

}

.landpage__button{
    padding: 0.9063rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    width: 15.0625rem;
    font-weight: 500;
    color: #FFFFFF;

    cursor: pointer;
}

.landpage{
    display: none;
    width: 100%;
}


@media screen and (min-width: 768px){
    .landpage{
        display: block;
    }
}